# data type and structure questions and their answers



Yes, lists can store elements of different
data types.



1. What are data types, and why are they iumportant?
   - data structures are ways to organize and store data efficiently. they are important for optimizing performance in data manipulation and analysis

2. Explain the difference between mutable and immutable data types with examples.
   - mutablale data types like lists and dictionaries can be modified after creation, while immutable data types like strings and tuples cannot be changed once created.

3. What are the main differences between lists and tuples in python?
   - lists are mutable, dynamic and slower than tuples, while tuples are immutable, static and faster.

4. Describe how dictionaries store data?
  - dictionaries store data as key value pairs that makes it easier to access and retrieve specific data based on its key.

5. Why might you use a set instead of a list in python?
   - set stores unique elements and provide fast membership testing.

6. What is string in python, and how is it different from a list?
   - strings are immutable sequences of characters, while lists are mutable sequences of objects.

7. How do tuples ensure data integrity in python?
   - tuples are immutable and prevent data from modification and protect the data as it was satored.

8. What is hash table and how does it relate to dictionaries in python?
   - hash table is a data structure that          maps keys to values using a hash
function. Python dictionaries use hash tables for efficient key-value storage.

9. Can lists contain different data types in Python?
   
 - Yes, lists can store elements of different
data types.

10. Explain why strings are immutable in Python.
   - Strings are immutable to ensure memory
  efficiency and security in Python.


11. What advantages do dictionaries offer over lists for
certain tasks?
   - Dictionaries allow faster lookups using
keys, whereas lists require linear searches.


12. Describe a scenario where using a tuple would be
preferable over a list.
   - When storing fixed data, like coordinates
or database records, where immutability is required.


13. How do sets handle duplicate values in Python?
   - Sets automatically remove duplicate values.


14. How does the 'in' keyword work differently for lists
and dictionaries?
   - In lists, 'in' checks for presence by
scanning all elements, whereas in dictionaries, it checks for the presence of
keys using a hash table.


15. Can you modify the elements of a tuple? Explain why or
why not.
   - No, tuples are immutable, meaning elements
cannot be changed after creation.


16. What is a nested dictionary, and give an example of
its use case?
   - A nested dictionary is a dictionary within
a dictionary, useful for hierarchical data like JSON structures.


17. Describe the time complexity of accessing elements in
a dictionary.
   - Accessing elements in a dictionary has an
average time complexity of O(1) due to hashing.


18. In what situations are lists preferred over
dictionaries?
   - Lists are preferred when maintaining order
and storing sequential data.


19. Why are dictionaries considered unordered, and how
does that affect data retrieval?
   - Dictionaries before Python 3.7 were
unordered, meaning elements had no fixed order. Since Python 3.7, they maintain
insertion order but still use hashing for fast lookups.


20. Explain the difference between a list and a dictionary
in terms of data retrieval.
   - Lists use index-based retrieval, whereas
dictionaries use key-based retrieval, which is faster.

In [ ]:
# 1. write a code to create a string with your name and print it.

name = "arman khan"
print(name)

arman khan

In [ ]:
# 2. write a code to find the length of the string "hello world"

string = "hello world"
length = len(string)
print(length)

11

In [ ]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming"

a = "hello world"
a[0:3]

'hel'

In [ ]:
# 4. Write a code to convert the string "hello" to uppercaseP

b = "hello"
b.upper()

'HELLO'

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

c = " i like apple"
c.replace("apple", "orange")

' i like orange'

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

d = [1, 2, 3, 4, 5]
print(d)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list = [1, 2, 3, 4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a', 'b', 'c', 'd']
list[1]

'b'

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

T = (100, 200, 300)
print(T)
type(T)

(100, 200, 300)

tuple

In [ ]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

Tup = ('red', 'green', 'blue', 'yellow')
Tupl = Tup[-2:]
print(Tupl)

('blue', 'yellow')

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

Number = (10, 20, 5, 15)
min(Number)

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animal = ("dog", "cat", "Rabbit")
animal.index('cat')

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

Fruits = ("apple", "babana", "kiwi")
if "kiwi" in Fruits:
   print("kiwi is in it!")

kiwi is in it!

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

Alp ={'a', 'b', 'c'}
type(Alp)

set

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

num = {1, 2, 3, 4, 5}
num.clear()
num

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

num = {1, 2, 3, 4}
num.remove(4)
num

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
Num1 = {1, 2, 3}
Num2 = {3, 4, 5}
Num1 | Num2

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

num1 = {1, 2, 3}
num2 = {3, 4, 5}
num1 & num2

{3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

Info = {"name" :"arman", "age" : 22, "city" : "hindaun city"}
print(Info)
type(Info)

{'name': 'arman', 'age': 22, 'city': 'hindaun city'}

dict

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person["country"] = "usa"
person

{'name': 'John', 'age': 25, 'country': 'usa'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
person["name"]

'Alice'

In [ ]:


# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

info = {'name': 'Bob', 'age': 22, 'city' : 'New york'}
del info["name"]
info

{'age': 22, 'city': 'New york'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

Info = {'name': 'Alice', 'city': 'Paris'}
if "city" in Info:
    print("city exists in dictionary!")

city exists in dictionary!

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

A = ["this", "is", "a", "list"]
B = ("tuple", "python")
C = {"iam", "here", "dictionary "}
print(A)
print(B)
print(C)

['this', 'is', 'a', 'list']
('tuple', 'python')
{'dictionary ', 'here', 'iam'}

In [ ]:

# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

Numbers = [ 87, 34, 24, 46, 74]
Numbers.sort()
print(Numbers)

[24, 34, 46, 74, 87]

In [ ]:

# 28. Write a code to create a list with strings and print the element at the third index.

strings = ["baloon", "toy", "car", "doll", "ice"]
print(strings[2])

car

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

Shelf1 = {"gaban": "premchand", "the prophet": "khalil jibran", "gitanjali": "taigore"}
Shelf2 = {"great gutsby": "f scott ftz", "rich dad": "kawasaki", "money":" warren"}
Shelf1.update(Shelf2)
Shelf1

{'gaban': 'premchand',
 'the prophet': 'khalil jibran',
 'gitanjali': 'taigore',
 'great gutsby': 'f scott ftz',
 'rich dad': 'kawasaki',
 'money': ' warren'}

In [30]:
# 30. Write a code to convert a list of strings into a set.

coffe = ["cappuccino", "Frappuccino", "macchiato", "americano"]
cafe = set(coffe)
type(cafe)

set